CLOUDINARY_CLOUD_NAME=gcbr9jfu
CLOUDINARY_API_KEY=812591831784263
CLOUDINARY_API_SECRET=2SL5r9HwDiqs_Y7yewE6sh5NNzw
CLOUDINARY_UPLOAD_PRESET=calistung-1-XS
CLOUDINARY_FOLDER=calistung

ADMIN_PASSWORD=yabunayya2026

DATABASE_URL=postgresql://neondb_owner:npg_L6iYzVGXKZ3d@ep-dry-boat-ay0jjrv1-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
